body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
.orange-color {
  color: orange;
}
.flexible-section {
  display: flex;
  margin-bottom: 50px;
}
.half-width {
  padding: 5%;
  width: 50%;
}
.half-width img {
  width: 90%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item {
  box-shadow: 10px 10px 30px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#web-dev-experience {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#font-end-exp {
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
